<div class="row">
    <div class="col-xs-11 text-right">
        <div class="btn-group btn-group-xs">
            <button type="button" onclick="window.location='{{ reqeust.path }}?type=panel'"
                    class="btn {% if request.GET.type == 'panel' or not request.GET.type %}btn-primary{% else %}btn-default{% endif %}">面板视图</button>
            <button type="button" onclick="window.location='{{ reqeust.path }}?type=grid'"
                    class="btn {% if request.GET.type == 'grid' %}btn-primary{% else %}btn-default{% endif %}">曲线视图</button>
            <button type="button" onclick="window.location='{{ reqeust.path }}?type=list'"
                    class="btn {% if request.GET.type == 'list' %}btn-primary{% else %}btn-default{% endif %}">列表视图</button>
        </div>
    </div>
</div>
