<br>
<div class="row">
    <div class="col-xs-6">
        <div class="input-group input-group-sm">
            <span class="input-group-addon" id="basic-addon1">温度</span>
            <input type="text" class="form-control text-center" placeholder="℃" aria-describedby="basic-addon1">
            <a class="btn btn-success input-group-addon">设置</a>
        </div>
    </div><!-- /.col-lg-6 -->
    <div class="col-xs-6">
        <div class="input-group input-group-sm">
            <span class="input-group-addon" id="basic-addon1">流量</span>
            <input type="text" class="form-control text-center" placeholder="L/min" aria-describedby="basic-addon1">
            <a class="btn btn-success input-group-addon">设置</a>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

<br>
<div class="row">
    <div class="col-xs-6">
        <div class="input-group input-group-sm">
            <span class="input-group-addon" id="basic-addon1">程序</span>
            <input type="text" class="form-control text-center" placeholder="#" aria-describedby="basic-addon1">
            <a class="btn btn-success input-group-addon">设置</a>
        </div>
    </div><!-- /.col-lg-6 -->
    <div class="col-xs-6">
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group btn-group-sm" role="group">
                <button type="button" class="btn btn-default">排空加液开</button>
            </div>
            <div class="btn-group btn-group-sm" role="group">
                <button type="button" class="btn btn-default">排空加液关</button>
            </div>
        </div>
    </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

<br>
<div class="row">
    <div class="col-xs-4">
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group btn-group-sm" role="group">
                <button type="button" class="btn btn-default">运行</button>
            </div>
            <div class="btn-group btn-group-sm" role="group">
                <button type="button" class="btn btn-default">关闭</button>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group btn-group-sm" role="group">
                <button type="button" class="btn btn-default">内循环</button>
            </div>
            <div class="btn-group btn-group-sm" role="group">
                <button type="button" class="btn btn-default">外循环</button>
            </div>
        </div>
    </div>

</div>
<br>
