<table class="table table-bordered">
    <caption>
        <div class="row">
            <div class="col-xs-6">
                故障颜色为<span class="glyphicon glyphicon-stop text-danger"></span>
                <a class="btn btn-xs btn-primary">查看历史故障</a>
            </div>
        </div>
    </caption>
    <tr class="text-center">
        <td>回液温度传感器故障</td>
        <td>供液温度传感器故障</td>
        <td>压缩机高温报警</td>
        <td>压缩机低压报警</td>
        <td>设备超压保护</td>
        <td>供液压力传感器故障</td>
    </tr>
    <tr class="text-center">
        <td>流量传感器故障</td>
        <td>比例阀开度故障</td>
        <td>PLC与TC101通讯故障</td>
        <td>设备高温报警</td>
        <td>设备低温报警</td>
        <td>设备低液位报警</td>
    </tr>
</table>
