<div class="row">
    <div class="col-xs-2 text-right">
        <span class="help-block"><small>出液温度(T1):</small></span>
    </div>
    <div class="col-xs-9">
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar" id="id_T1"
               aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
              0 ℃
          </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-2 text-right">
        <span class="help-block"><small>回液温度(T2):</small></span>
    </div>
    <div class="col-xs-9">
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar" id="id_T2"
               aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
              0 ℃
          </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        function update_t(selector, data) {
            $(selector).html([data.toString(), '℃'].join(''));
            if ( data < 10 ) {
                data = 10;
            }

            if ( data < 20 ) {
                $(selector).addClass("progress-bar-warning");
                $(selector).removeClass("progress-bar-success");
                $(selector).removeClass("progress-bar-danger");
            } else if ( data < 80 ) {
                $(selector).addClass("progress-bar-success");
                $(selector).removeClass("progress-bar-warning");
                $(selector).removeClass("progress-bar-danger");
            } else {
                $(selector).addClass("progress-bar-danger");
                $(selector).removeClass("progress-bar-warning");
                $(selector).removeClass("progress-bar-success");
            }

            $(selector).css("width", [data.toString(), '%'].join(''));
        }

        $.lijie.bind('dev', function (dev) {
            update_t("#id_T1", dev.data.t1);
            update_t("#id_T2", dev.data.t2);
        });
    })
</script>