<table class="table table-bordered">
    <caption>
        <div class="row">
            <div class="col-xs-6">
                故障颜色为<span class="glyphicon glyphicon-stop text-danger"></span>
                <a class="btn btn-xs btn-primary">查看历史故障</a>
            </div>
        </div>
    </caption>
    <tr class="text-center">
        <td>通讯故障</td>
        <td>回液温度传感器或控温模块故障</td>
        <td>低液位保护</td>
        <td>压缩机高温报警</td>
    </tr>
    <tr class="text-center">
        <td>压缩机高压报警</td>
        <td>供液温度传感器或控温模块故障</td>
        <td>压缩机低压报警</td>
        <td>供液压力超压报警</td>
    </tr>
</table>
